Flask==2.2.3
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.0.1
python-dotenv==1.0.0
pytesseract==0.3.10
opencv-python==4.7.0.72
gTTS==2.3.2
langdetect==1.0.9
fpdf==1.7.2
python-docx==0.8.11
Werkzeug==2.2.3
python-dotenv==1.0.0

